{{ define "logo" }}
    <div class="w-full text-center text-[100px] text-gray-700 font-bold">
        <span><<span class="text-blue-600">/</span>></span>
    Minesweeper<span class="text-blue-600">x</span>
    </div>
{{ end }}
